<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Shared.css">
    <title>Offline</title>
    <!-- Too lazy to modify the original css -->
    <style>
        p, h1 {
        text-align: center;
        }
        </style>
</head>
<body>
    <div class="hero-section">
    <h1>You're offline!</h1>
    <p text-align="center">Go online to use the application.</p>
    </div>
</body>
</html>