<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Shared.css">
    <link rel="stylesheet" href="../static/css/Rating.css">
    <title>Ratings</title>
</head>
<body>
    <nav>
        <div class="nav-container">
            <a href="/" class="nav-logo">Game Review</a>
            <div class="nav-links">
                <a href="/">Home</a>
                {% if isSignedIn %}
                    <a href="/logout">Logout</a>
                    <a href="/rating">Rate Games</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="rating-container">
        <div class="games-grid">
            {% for game in games %}
                <!-- Wrap the entire card in a link to make it clickable -->
                <a href="/rating/{{ game[0] }}" class="game-card">
                    <img src="../static/images/{{ game[3] }}" alt="{{ game[1] }}">
                    <h2>{{ game[1] }}</h2>
                    <p>{{ game[2] }}</p>
                </a>
            {% endfor %}
        </div>
        <div class="upload-button-container">
            <a href="/upload" class="cta-btn">Add New Game</a>
        </div>
    </div>
        
</body>
</html>
