<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Shared.css">
    <link rel="stylesheet" href="../static/css/Games.css">
    <script src="../static/js/offline.js"></script>
    <title>{{game_data[1]}}</title>
</head>
<body class="game-page">
    <nav>
        <div class="nav-container">
            <a href="/" class="nav-logo">Game Review</a>
            <div class="nav-links">
                <a href="/">Home</a>
                {% if isSignedIn %}
                    <a href="/logout">Logout</a>
                    <a href="/rating">Rate Games</a>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="nav-separator">

    </div>
    <div class="content-container">

        <div class="game-container">
            <div class="game-header">
                <h1>{{ game_data[1] }}</h1>
                <p class="game-description">{{ game_data[2] }}</p>
            </div>
            <div class="game-content">
                <img src="../static/images/{{ game_data[3] }}" alt="{{ game_data[1] }}" class="game-image">
                <div class="game-details">
                    <p class="release-date"><strong>Released on:</strong> {{ game_data[4] }}</p>
                    <p><strong>Developer:</strong> {{ game_data[5] }}</p>
                    <p><strong>Publisher:</strong> {{ game_data[6] }}</p>
                    {% if average_rating != 0 %}
                    <p><strong>Average rating:</strong> {{ average_rating }}</p>
                    {% else %}
                    <p><strong>Average rating:</strong> Unrated </p>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <div class="add-review">
            {% if isSignedIn %}
                {% if not hasReviewed %}
                    <h1>Add Your Review</h1>
                    <form class="review-form" method="POST" action="">    
                        <!-- Rating Input -->
                        <select name="rating" required>
                            <option value="" disabled selected>Select a Rating</option>
                            {% for i in range(1, 11) %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    
                        <!-- Review Text -->
                        <textarea name="review_text" placeholder="Write your review (Max. 500 characters)... " rows="4" maxlength="500"></textarea>    

                        <!-- Submit Button -->
                        <button type="submit" name="add_review" class="submit-btn">Submit Review</button>
                    </form>
                {% else %}
                    <p>You have already submitted a review for this game.</p>
                    <form method="POST" action="">
                        <button type="submit" name="remove_review" class="submit-btn">Remove Review</button>
                    </form> 
                {% endif %}
            {% else %}
                <p>You must be logged in to review.</p>
            {% endif %}
        </div>
        
        

        <div class="rating-container">
            <div class="rating-header">
                <h1><strong>Reviews for {{game_data[1]}}</strong></h1><br>

                <!-- Dropdown for Sorting -->
                <form method="GET" action="">
                    <label for="sort_order">Sort By:</label>
                    <select name="sort_order" id="sort_order" onchange="this.form.submit()">
                        <option value="newest" {% if sort_order == 'newest' %}selected{% endif %}>Newest</option>
                        <option value="highest" {% if sort_order == 'highest' %}selected{% endif %}>Highest Rating</option>
                        <option value="lowest" {% if sort_order == 'lowest' %}selected{% endif %}>Lowest Rating</option>
                    </select>
                </form>
            </div>
            {% if review_data %}
                    {% for review in review_data %}
                        {% if review[5] %}
                            <div class="review">
                            <h2>{{review[2]}} - {{review[4]}} stars</h2>
                            <p>{{review[3]}}</p>
                            <p>{{review[5]}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
            {% else %}
                <div class="no-review">
                <h3>There are no reviews to display.</h2>
                </div>
            {% endif %}
        </div>
    </div>
    
    
    
</body>
</html>