<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Signup.css">
    <link rel="stylesheet" href="../static/css/Shared.css">
    <script src="../static/js/offline.js"></script>
    <title>Signup</title>
</head>
<body>
    <div class="container">
        <h1>Signup</h1>

        <nav>
            <div class="nav-container">
                <a href="/" class="nav-logo">Game Review</a>
                <div class="nav-links">
                    <a href="/">Home</a>
                    {% if isSignedIn %}
                        <a href="/logout">Logout</a>
                        <a href="/rating">Rate Games</a>
                    {% else %}
                        <a href="/login">Login</a>
                        <a href="/signup">Signup</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <script>
        function ShowPassword() 
        {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        </script>

        <form action="/signup" method="post">
            <label for="email">E-mail</label>
            <input type="email" name="email" id="email" required>

            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>

            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" required>

            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" required>

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required><br>

            <div class="show-password-container">
                <input type="checkbox" id="show-password" onclick="ShowPassword()">
                <label for="show-password">Show Password</label>
            </div>            
            
            <input type="submit" value="Signup">
        </form>
    </div>
</body>
</html>
